<div class="text-center">
    <h1>@ViewBag.Jugador.Nombre</h1>
    <img src="/@ViewBag.Jugador.Foto" width="200px">
    <h2>Fecha de nacimiento: @ViewBag.Jugador.FechaNacimiento</h2>
    <h2>Equipo actual: @ViewBag.Jugador.EquipoActual</h2>
</div>