<div class="text-center">
    <h1>@ViewBag.Pais.Nombre</h1>
    <h2>Poblacion: @ViewBag.Pais.Poblacion</h2>
    <h2>Fecha De Independencia @ViewBag.Pais.FechaIndependencia</h2>
    <h2>Atractivos Turisticos @ViewBag.Pais.AtractivosTuristicos</h2>
</div>