html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.card
{
  margin-top: 20px;
  color: white;
  background-color:#1e1e1e;
  padding: 10px;
  border-color: green;
  border-width: 5px;
}
img
{
  margin-top: 30px;
}

.titulo
{
  text-decoration: underline;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
  color: white  ;
}