<div class="text-center">
    <h1>Juego</h1>
    <h2>Ya sabes como jugar?</h2>
            <a href="Tutorial"><button type="button" class="btn btn-primary" witdh="200px">No</button></a>
            <a href="Nivel1"><button type="button" class="btn btn-primary" witdh="200px">Si</button></a>
</div>

