<div class="text-center">
    <h1 class="display-4">Nivel 4</h1>
    <h5>Adivinar la consola de la imagen pixelada</h5>
    <img src="/gameboycolor.jpg" width="75%">
    <form class="form-inline" method='post' action='@Url.Action("Correcion","Home")'>
    <input class="form-control mr-sm-2" type="search" name="clave" placeholder="Juego" aria-label="Search" autocomplete="off">
    <input type="hidden" name="sala" value="4" >
    <input class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Ingresar">
    </form>
    <button onclick="alert('Pista: una reversión de la primer consola portátil de nintendo')"> Pista </button>
    <h4>@ViewBag.MensajeError</h4>
</div>