@{
    ViewData["Title"] = "Tutoriales";
}

<div class="text-center">
    <h1>Bienvenido al tutorial del Console World</h1>
    <h2>Seleccione que tutorial quiere ver:</h2>
    <div class="text-center">
        <a href="Tutorial1"><button type="button" class="btn btn-primary" witdh="200px">Juego 1</button></a>
        <a href="Tutorial2"><button type="button" class="btn btn-primary" witdh="200px">Juego 2</button></a>
        <a href="Tutorial3"><button type="button" class="btn btn-primary" witdh="200px">Juego 3</button></a>
        <a href="Tutorial4"><button type="button" class="btn btn-primary" witdh="200px">Juego 4</button></a>
        <a href="Tutorial5"><button type="button"class="btn btn-primary" witdh="200px">Juego 5</button></a>
    </div>
</div>