<div class="text-center">
<img src="/tutorial2.png">
<br>
<a href="index"><button type="button" class="btn btn-primary" witdh="200px">Volver a la página principal</button></a>
<a href="Tutorial"><button type="button" class="btn btn-primary" witdh="200px">Volver a la página de tutoriales</button></a>
<a href="Tutorial3"><button type="button" class="btn btn-primary" witdh="200px">Siguiente juego</button></a>
</div>