@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bienvenido a 4ia</a>.</p>
</div>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="FuncionTraerMayor">Funcion Traer Mayor</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="FuncionPosicionMayor">Funcion Posicion Mayor</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="FuncionCalcularDia">Funcion Calcular Dia</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="FuncionDivisoresComunes">Funcion Divisores Comunes</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="FuncionInvertirCase">Funcion Invertir Case</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="FuncionIsNumeric">Funcion Is Numeric</a>
