@{
    ViewData["Title"] = "PantallaFinDelJuego";
}
<div class = "container">
    <div class="text-center">   
         <h1> <mark> Terminaste el juego @ViewBag.Jugador.Nombre . Monto ganado: @ViewBag.Pozo</mark></h1>
    </div>
</div>